/* CSS declarations go here */
body {
	margin-top: 50px;
}
span {
	margin-bottom: 15px;
}
#craft{
	width: 80%; 
}
#data-form {
	margin: 0 auto;
	width: 100%;
}
#data-form h1{
	margin: 0px 0 15px;	
}
#data-form input {
	width: 50%;
	margin: 0 0 10px;
}
#header-image {
	margin: 10px 0 0 45px;
}
#header-text {
	float: left;
	width: 45%;
}
.alert-success {
	width: 60%;
}
.center-align {
	text-align: center;
}
.container {
	margin: 0 auto;
}
.glyphicon {
	font-size: 50px;
}
.pic{
	position: fixed;
	left: 60%;
	top: 30%;
}

.caption {
    float: right;
    width: 400px;
}
.move .container {
    width: 900px;
}
/*Nicks css*/
.belowNavBar {
    width:1024px;
    margin: 20px auto 0;
}
/********left-side styling**********/
.playersDiv {
    width: 45%;
    float:left;
    margin: 30px auto 0;
}
#alert {
    width: 1024px;
    margin: 0 auto 0;
}
.progress {
	background-color: red;
}
#thumbnail-l {
    height: 200px;
    width:500px;
    margin: 30px auto 30px;
}
#row-l p {
    margin-left: 50px;
    font-size: 1.2em;
}
#list-group-l {
}
ul {
	list-style:none;
}
/*********right-side styling************/
#right-side {
    width: 45%;
    float:right;
    margin: 30px auto 0;
}
#thumbnail-r {
    height: 200px;
    width:500px;
    margin: 30px auto 30px;
}
#row-r p {
    margin-left: 50px;
    font-size: 1.2em;
}
#list-group-r {
}
#container {
    width:1024px;
    clear:both;
    margin-top:30px;
}
#container footer p {
    margin-left:40%;
}
.movelist {
	width: 50%;
}
footer {
	clear: both;
}
/***** CRAFT *****/
.moveslist b {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
}
.moveslist p{
    font-size: 16px;
}
.moveslist span{
    font-size: 16px;
    margin: none;
}